.f-sign-up-box {
    position: fixed;
    background: #00000080;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.f-sign-up-box .box {
    position: relative;
    width: 850px;
    height: 450px;
    margin: auto;
    /* max-height: 70vh; */
    /* margin-top: calc(100vh - 85vh - 20px); */
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    display:grid;
    grid-template-columns: 4fr 5fr;
    padding: 0;
    position: fixed;
}

.f-sign-up-box .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(50% - 425px - 40px);
    /* top: calc(100vh - 85vh - 20px); */
    /* background: #ededed; */
    background-color: #3C457D;
    color: #E6E8F4;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* line-height: 30px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    font-size: 22px;
}

.f-sign-up-box .box .image-box {
    /* background-color: green; */
}

/* .f-sign-up-box .image-box .video-login {
    display:none;
} */

.f-sign-up-box .box .form-box {
    align-items: center;
    justify-items: center;
    display: flex;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.f-sign-up-box .box .form-box-container {
    /* background-color: red; */
    align-content: center;
    justify-content: center;
    display: grid;
    height:100%;
    width: 100%;
    gap: 10px;
    font-size: 12px;
}

.f-sign-up-box .title {
    width: 100%;
    display: flex;
    justify-items: left;
    align-items: left;
    font-weight: bold;
    font-size: 20px;
}

.f-sign-up-box .caption {
    font-size: 13px;
    padding-bottom: 20px;
    cursor: pointer;
    color: #536ADE;
}

.f-sign-up-box .other-btn {
    /* background-color: blue; */
    font-size: 13px;
    height: 35px;
    width: 100%;
    border: 1px solid #E6E8F4;
    border-radius: 3px;
}

.f-sign-up-box .other-btn:hover {
    /* background-color: blue; */
    background-color: #DDDDDD;
}

.f-sign-up-box .form {
    /* background-color: green; */
    /* height: 300px; */
    width: 100%;
    height: 80%;
    display: grid;
    font-size: 15px;
    gap: 10px;
}

.f-sign-up-box .form input{
    /* background-color: blue; */
    padding-left: 5px;
    font-size: 13px;
    height: 30px;
    border: 1px solid #E6E8F4;
    border-radius: 3px;
}

.f-sign-up-box .form .file-picker {
    font-size: 13px;
    height: 30px;
    border: 0px;
}

.f-sign-up-box .form .login-btn{
    /* background-color: blue; */
    font-size: 14px;
    height: 35px;
    background-color: #3C457D;
    color: #E6E8F4;
    border: 1px solid #2B346C;
    border-radius: 3px;
}

.f-sign-up-box .form .login-btn:hover{
    /* background-color: blue; */
    /* font-size: 13px;
    height: 35px; */
    background-color: #536ADE;
    color: #E6E8F4;
    border: 1px solid #2B346C;
}

.f-sign-up-box .form .login-btn:disabled{
    /* background-color: blue; */
    /* font-size: 13px;
    height: 35px; */
    background-color: #777777;
    color: #E6E8F4;
    border: 1px solid #2B346C;
}