.sign-up-box {
    position: fixed;
    background: #00000080;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
   
.sign-up-box .box {
    position: relative;
    width: 60%;
    margin: 0 auto;
    height: 800px;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    display:grid;
    grid-template-columns: 4fr 5fr;
    padding: 0;
}

.sign-up-box .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(20% - 50px);
    top: calc(100vh - 85vh - 20px);
    /* background: #ededed; */
    background-color: #3C457D;
    color: #E6E8F4;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* line-height: 30px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    font-size: 22px;
}

.sign-up-box .box .image-box {
    background: url("../../../public/signup.png");
    background-attachment: fixed;
    background-size: auto 100%;
}

.sign-up-box .box .form-box {
    /* background-color: green; */
    display:flex;
    align-items: center;
    justify-items: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.sign-up-box .box .form-box-container {
    /* background-color: green; */
    align-items: center;
    justify-items: center;
    display: grid;
    height: auto;
    font-size: 12px;
    gap: 10px;
}

.sign-up-box .title {
    /* background-color: blue; */
    height: auto;
    width: 100%;
    display: flex;
    justify-items: left;
    align-items: left;
    font-weight: bold;
    font-size: 20px;
}

.sign-up-box .caption {
    width: 100%;
    font-size: 13px;
    /* height: 100%; */
    padding-top: 10px;
    /* background-color: red; */
}

.sign-up-box .other-btn {
    /* background-color: blue; */
    font-size: 13px;
    height: 35px;
    width: 100%;
    border: 1px solid #E6E8F4;
    border-radius: 3px;
}

.sign-up-box .form {
    /* background-color: green; */
    /* height: 300px; */
    width: 100%;
    height: 80%;
    display: grid;
    font-size: 15px;
    gap: 10px;
    padding-top: 30px;
}

.sign-up-box .form input{
    /* background-color: blue; */
    padding-left: 5px;
    font-size: 13px;
    height: 30px;
    border: 1px solid #E6E8F4;
    border-radius: 3px;
}

.sign-up-box .form .sign-up-btn{
    /* background-color: blue; */
    font-size: 14px;
    height: 35px;
    background-color: #3C457D;
    color: #E6E8F4;
    border: 1px solid #2B346C;
    border-radius: 3px;
}

.sign-up-box .form .sign-up-btn:hover{
    /* background-color: blue; */
    /* font-size: 13px;
    height: 35px; */
    background-color: #536ADE;
    color: #E6E8F4;
    border: 1px solid #2B346C;
}