
.top-nav {
    background-color: #323545;
    height: 60px;
    display: flex;
    justify-content: center;
    padding-right: 80px;
}

.top-nav-dropdown {
    /* background: red; */
    width: 700px;
}

.top-nav-btn-box {
    padding: 15px;
    /* background-color: green; */
    display: flex;
    gap: 20px;
}

.nav-btn {
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-items: center;
    align-items: center;
}