/* .formInput {
    margin: 10px;
    padding: 20px;
    background-color: red;
    background-color: #aed5f1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
} */


.formInput input {
    padding-left: 5px;
    font-size: 13px;
    height: 30px;
    border: 1px solid #E6E8F4;
    border-radius: 3px;
    width: 100%;
}

.formInput span {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: regular;
    text-align: left;
    width: 100%;
    color: red;
    display: none;
}

.formInput input:invalid[focused='true'] ~ span {
    display: block;
}