

/* ============== USER ==================== */
.user-place {
    display: block;
    align-items: center;
    height: 100%;
    width: 100%;
}

.user-place .user {
    display: flex;
    justify-content: right;
    width: 100%;
}

.user-place #btn-user {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-place .dropdown-place {
    height: 100px;
    padding-top: 15px;
    display: none;
}

.user-place .dropdown li {
    display: flex;
    font-size: 14px;
    height: 30px;
    width: 90%;
    align-items: center;
    justify-content: left;
    border-radius: 5px;
    color: var(--text-color);
    font-weight: 400;
}

.user-place ul.dropdown li:hover {
    background: var(--primary-color);
    color: var(--hover-text-color);
    transition: var(--tran-03);
}

.user-place .dropdown-place .dropdown {
    width: 200px;
    height: 100%;
    background: white;
    border-radius: 5px;
    padding-top: 10px;
}


/* Above Nav =================================================*/
.above-nav {
    position: fixed;
    background: var(--sidebar-color);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.above-nav .btn-save {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
}

.above-nav .btn-open-image {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
    margin-left: 30px;
    justify-content: center;
}

.above-nav .btn-user {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    /* justify-content: right; */
    padding-right: 20px;
    /* background: yellow; */
}

.above-nav .home {
    padding-left: 10px;
    display: flex;
    /* background-color: red; */
    width: calc(100% - 200px);
}

.above-nav li {
    list-style: none;
    height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

.above-nav li:hover {
    background: var(--hover-color);
    cursor: pointer;
    transition: var(--tran-03);
}

.above-nav li:hover .icon,
.above-nav li:hover .text{
    color: var(--hover-text-color);
    transition: var(--tran-03);
}

.above-nav .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.above-nav .icon {
    color: var(--text-color);
    margin-right: 10px;
}

.above-nav .btn-download{
    /* background: var(--primary-color); */
    width: 200px;
    display: flex;
}

.above-nav #btn-user {
    background-image: url('../../../public/user_profile.png');
    background-size: cover;
    background-position: center;
}

/* Tool Bar =================================================*/
/* Google font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

:root{
    /* ========= sizes ========*/
    --sidebar-width: 100px;
    --extent-width: 250px;

    /* ========= Colors ========*/
    --body-color: #e0e0e1;
    --sidebar-color: #1e1f22;
    --primary-color: #2c7dfa;
    --hover-primary-color: #e9f2fc;
    --toggle-color: #3C457D;
    --text-color: #777777;
    --hover-text-color: white;
    --hover-color: #3c3d3f;

    /* ========= Transition ========*/
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
}

.tool-bar {
    height: 100%;
    width: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.tool-bar .menu {
    background: var(--sidebar-color);
    width: var(--sidebar-width);
    height: 100%;
    margin: 0;
    padding: 0;
}


.tool-bar #extent-menu.hide{
    opacity: 0;
    height: 0;
    transition: var(--tran-03);
}

.tool-bar #extent-menu{
    height: 100%;
    width: var(--extent-width);
    margin: 0px;
    padding: 0px;
    background: var(--hover-color);
    transition: var(--tran-03);
    display: none;
    overflow-y: auto;
}

.tool-bar .text {
    font-size: 12px;
    color: inherit;
}

.tool-bar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    align-items: center;
    justify-content: center;
    user-select: none;
    color: var(--text-color);
}

.tool-bar li:hover {
    background: var(--hover-color);
    cursor: pointer;
    transition: var(--tran-03);
    color: var(--hover-text-color);
}

.tool-bar li:hover .icon,
.tool-bar li:hover .text{
    color: var(--hover-text-color);
    transition: var(--tran-03);
}

.tool-bar .icon {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    color: inherit;
}


/* =============== */
#image-tools-place {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
}

.tools-display {
    /* background: blue; */
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    border-top: 2px solid var(--hover-text-color);
    color: var(--hover-text-color);
    font-size: 14px;
    font-weight: normal;
    /* background: red; */
}

#image-tools-place ul {
    /* background: red; */
    padding: 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

#image-tools-place li {
    /* background: blue; */
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    color: var(--hover-text-color);
}

#image-tools-place li input {
    width: 60px;
    padding-left: 5px;
    font-size: 16px;
}

.tools-display .bar-container {
    /* background: red; */
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tools-display .bar-container #bar {
    width: 100%;
}

.icons-place {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 20px;
}

.icons-place .tools-icon {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

.icons-place .tools-icon:hover {
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

#choose-drawing-click {
    background: var(--primary-color);
}

#erase-tools-place input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

#erase-tools-place #erase-button-place {
    /* background: red; */
    /* width: 100%; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#erase-tools-place #erase-button-place button {
    background: var(--sidebar-color);
    font-size: 14px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 0;
    color: var(--text-color);
}

#erase-tools-place #erase-button-place button:hover {
    background: var(--primary-color);
    color: white;
    transition: var(--tran-03);
}

#search-bar {
    /* background: blue; */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
}

#search-bar input {
    width: 180px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 16px;
}

#search-bar #search-icon {
    width: 20px;
    color: white;
    /* background: red; */
    width: 30px;
    height: 25px;
}

#date-sort {
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}

#date-sort .icon {
    /* background: blue; */
    height: 25px;
    width: 50px;
    border-radius: 5px;
    background: var(--sidebar-color);
}

#imageList {
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#imageList img {
    height: auto;
    width: 190px;
    margin-bottom: 20px;
}

#imageList img:hover {
    border: 3px solid var(--primary-color);
}

/* Picture =================================================*/
.picture {
    background: var(--body-color) ;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture #uploading {
    height: 300px;
    width: 500px;
    background: white;
    border: 2px dashed #BBB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 20px;
    user-select: none;
}

.picture #uploading:hover {
    border: 2px dashed var(--primary-color);
    background: var(--hover-primary-color);
    transition: var(--tran-03);
}

.picture #picture-place {
    height: 100%;
    width: 100%;
    display: flex;
}

.picture #picture-place #ref-picture {
    height: 100%;
    width: 100%;
    /* background: red; */
}

.picture #btn-uploading {
    font-size: 16px;
    width: 150px;
    height: 35px;
    background: var(--primary-color);
    color: var(--hover-text-color);
    border: 0px solid;
    border-radius: 5px;
}

/* Editor =================================================*/
.editor {
    width: 100%;
    height: 100vh;
    background: var(--body-color);
    padding: 0px;
    margin: 0px;
    white-space: 0px;
}

.editor .nav {
    height: 60px;
    width: 100%;
}

.editor .edit-place {
    height: calc(100vh - 60px);
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 0;
}

/* .editor #tool-place {
    height: calc(100vh - 60px);
    width: calc(var(--sidebar-width) + var(--extent-width) - 20px);
    padding: 0px;
    margin: 0px;
    background: green;
}

.editor #picture-place {
    height: calc(100vh - 60px);
    width: calc(100% - var(--sidebar-width) - var(--extent-width));
    padding: 0px;
    margin: 0px;
    background: red;
} */